@keyframes borderColor {
    0% {
        border-image-source: linear-gradient(0deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    10% {
        border-image-source: linear-gradient(36deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    20% {
        border-image-source: linear-gradient(72deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    30% {
        border-image-source: linear-gradient(108deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    40% {
        border-image-source: linear-gradient(144deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    50% {
        border-image-source: linear-gradient(180deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    60% {
        border-image-source: linear-gradient(216deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    70% {
        border-image-source: linear-gradient(252deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    80% {
        border-image-source: linear-gradient(288deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    90% {
        border-image-source: linear-gradient(324deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
    100% {
        border-image-source: linear-gradient(360deg, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
    }
}

@keyframes moveGradient {
    50% {
      background-position: 100% 0%;
    }
}


.header {
    width: 100%;
    min-height: 100px;
    height: 100px;
    background-color: rgba(0,0,0, 0.8);
    padding: 0 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    *{
        font-family: 'jetBrains', sans-serif;
    }
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        .left {
            display: flex;
            align-items: center;
            .logo {

            }
    
            .content {
                margin-left: 120px;
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    li {
                        margin-left: 25px;
                        list-style-type: none;
                        position: relative;
                        &::after {
                            content: '';
                            width: 0%;
                            transition: 0.6s;
                            position: absolute;
                            background-color: white;
                            height: 2px;
                            left: 0;
                            bottom: -6px;
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                        a {
                            text-decoration: none;
                            font-size: 18px;  
                            color: white;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            .language_drop {
                display: flex;
                align-items: center;
                margin-right: 70px;
                span {
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid white;
                }
                img {
                    margin-bottom: 2px;
                }
                p {
                    font-size: 16px;                  
                    color: #fff;  
                    padding: 0;
                    margin: 0 5px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .btn {
                border: none;
                background-color: transparent;
    
                .gradientBorder {
                    --border-width: 4px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Lato, sans-serif;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    color: white;
                    background: rgba(31, 31, 31, 1);
                    transition: 0.2s linear;
                    border-radius: 0;
                    padding: 10px 40px;
                    font-size: 18px;                  
                    color: #fff;  
                    &::after {
                      position: absolute;
                      content: "";
                      top: calc(-1 * var(--border-width));
                      left: calc(-1 * var(--border-width));
                      z-index: -1;
                      width: calc(100% + var(--border-width) * 2);
                      height: calc(100% + var(--border-width) * 2);
                      background: linear-gradient(
                        90deg,
                        rgba(13, 101, 188, 1),
                        rgba(255, 211, 13, 1),
                        rgba(13, 101, 188, 1),
                        rgba(255, 211, 13, 1)
                      );
                      background-size: 400% 400%;
                      background-position: 0% 0%;
                      border-radius: 0;
                      animation: moveGradient 8s alternate infinite;
                    }
                    img {
                        width: 28px;
                        margin-left: 20px;
                        margin-right: -10px;
                    }
                    button {
                        background-color: transparent;
                        text-transform: uppercase;
                        // border: 6px solid;
                        // border-image-slice: 1;
                        // border-width: 4px;
                        // border-image-source: linear-gradient(to left, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
                        padding: 10px 40px;
                        font-size: 18px;                  
                        color: #fff;  
                        border:none;
                        // animation: borderColor infinite;
                        // animation: borderColor 3s infinite;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .gradientBorder {
                        background: rgba(0, 0, 0, 0);
                    }
                }
            }
            .mobileMenuToggler {
                display: none;
            }

        }
    }
    .mobileMenu {
        display: none;
    }
}

@media (max-width: 1400px) {
    .header {
        padding: 0;
    }
}

@media (max-width: 1250px) {
    .header {
        padding: 0 25px;
        .wrapper {
            .left {
                .content {
                    margin-left: 50px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {
        padding: 0 25px;
        .wrapper {
            .left {
                .content {
                    display: none;
                }
            }
            .right {
                .btn {
                    display: none;
                }
                .language_drop {
                    margin-right: 40px;
                }
                .mobileMenuToggler {
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    span {
                        width: 36px;
                        height: 3px;
                        position: relative;
                        transition: 0;
                        *{transition: 0.4s;}
                        background-color: rgba(255,255,255,1);
                        &::after, &::before {
                            content: '';
                            position: absolute;
                            width: 36px;
                            height: 3px;
                            background-color: rgba(255,255,255,1);
                        }
                        &::before {
                            transform: translateY(-10px);
                        }
                        &::after {
                            transform: translateY(10px);
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                .activeMobileMenuToggler {
                    span {
                        width: 36px;
                        height: 3px;
                        position: relative;
                        background-color: rgba(255,255,255,0);
                        &::after, &::before {
                            content: '';
                            position: absolute;
                            width: 36px;
                            height: 3px;
                            background-color: rgba(0, 0, 0, 1);
                            
                        transition: 0.4s;
                        }
                        &::before {
                            transform: rotate(-45deg)
                        }
                        &::after {
                            transform: rotate(45deg)
                        }
                    }
                }

                .activeMobileBtn {
                    span {
                        background-color: rgba(255,255,255,0);

                        &::before {
                            transform: rotate(45deg)
                        }
                        &::after {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        .mobileMenu {
            display: flex;
            position: absolute;
            width: 100%;
            background-color: #fff;
            right: -600px;
            top: 0;
            opacity: 0;
            transition: 0.4s;
            height: 100vh;
            flex-direction: column;
            box-sizing: border-box;
            justify-content: space-between;
            .top {
                padding: 0 25px;
                width: 100%;
                min-height: 100px;
                display: flex;
                align-items: center;
                border-bottom: 3px solid #000;
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        text-align: center;
                        a {
                            color: #000;
                            font-family: 'jetBrains', sans-serif;
                            text-transform: uppercase;
                            font-size: 40px;
                            text-align: center;
                            text-decoration: none;
                        }
                        
                        margin-bottom: 16px;
                    }
                }
                .btn {
                    border: none;
                    background-color: transparent;
                    
                    .gradientBorder {
                        margin-top: 20px;
                        --border-width: 4px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Lato, sans-serif;
                        font-size: 2.5rem;
                        text-transform: uppercase;
                        color: white;
                        background: rgba(31, 31, 31, 1);
                        transition: 0.2s linear;
                        border-radius: 0;
                        padding: 14px 50px;
                        font-size: 22px;                  
                        color: #fff;  
                        &::after {
                          position: absolute;
                          content: "";
                          top: calc(-1 * var(--border-width));
                          left: calc(-1 * var(--border-width));
                          z-index: -1;
                          width: calc(100% + var(--border-width) * 2);
                          height: calc(100% + var(--border-width) * 2);
                          background: linear-gradient(
                            90deg,
                            rgba(13, 101, 188, 1),
                            rgba(255, 211, 13, 1),
                            rgba(13, 101, 188, 1),
                            rgba(255, 211, 13, 1)
                          );
                          background-size: 400% 400%;
                          background-position: 0% 0%;
                          border-radius: 0;
                          animation: moveGradient 8s alternate infinite;
                        }
                        img {
                            width: 28px;
                            margin-left: 20px;
                            margin-right: -10px;
                        }
                        button {
                            background-color: transparent;
                            text-transform: uppercase;
                            // border: 6px solid;
                            // border-image-slice: 1;
                            // border-width: 4px;
                            // border-image-source: linear-gradient(to left, rgba(13, 101, 188, 1), rgba(255, 211, 13, 1));
                            padding: 10px 40px;
                            font-size: 18px;                  
                            color: #fff;  
                            border:none;
                            // animation: borderColor infinite;
                            // animation: borderColor 3s infinite;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        .gradientBorder {
                            background: rgba(0, 0, 0, 0);
                        }
                    }
                }
            }

            .bottom {
                min-height: 100px;
                border-top: 3px solid #000;
                .socialFooter {
                    
                }
            }
            
        }

        .mobileMenuActive{
            opacity: 1;
            right: 0;
        }
    }
}


@media (max-width: 768px) {
    .header {
        padding: 0 16px;
        height: 72px;
        min-height: unset;
        .wrapper {
            .left {

            }
            .right {
                .language_drop {
                    margin-right: 16px;
                }

            }
        }
    }
}