@font-face {
    font-family: 'jetBrains';
    src: url("/assets/fonts/jetbrains/JetBrainsMonoNL-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'boldBrains';
    src: url("/assets/fonts/jetbrains/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'dia';
    src: url("/assets/fonts/e-Ukraine/e-Ukraine-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url("/assets/fonts/Gilroy/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url("/assets/fonts/Gilroy/Gilroy-Light.otf");
}

html, body {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

#__next {
    display: flex;
    width: 100%;
    height: 100%;
}

