.container {
  margin-top: 24px;
  padding: 12px;
  p {
    margin: 0;
  }
  .title {
    font-size: 20px;
    line-height: 24px;
    font-family: 'dia';
    color: #0f172a;
  }
  .fieldOne {
    position: relative;
    margin-top: 12px;
    p {
      font-size: 12px;
      line-height: 14px;
      font-family: 'dia';
      color: #475569;
    }
    input {
      width: 100%;
      border: 1px solid #cbd5e1;
      font-size: 16px;
      line-height: 19.19px;
      font-family: 'dia';
      border-radius: 16px;
      padding: 12px 56px 12px 16px;
      box-sizing: border-box;
      margin-top: 4px;
    }
    .inputEditable {
      border-color: #123456;
    }
    img {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 28px;
      right: 16px;
    }
  }
  .fieldTwo {
    position: relative;
    margin-top: 12px;
    p {
      font-size: 12px;
      line-height: 14px;
      font-family: 'dia';
      color: #475569;
    }
    .description {
      width: 100%;
      border: 1px solid #cbd5e1;
      border-radius: 16px;
      padding: 12px 56px 12px 16px;
      margin-top: 4px;
      box-sizing: border-box;
      .line {
        display: flex;
        flex-direction: row;
        strong {
          font-family: 'dia';
        }
        p {
          font-size: 16px;
          line-height: 19.19px;
          font-family: 'dia', sans-serif;
          color: '#00000060';
        }
      }
      
    }
  }
}
